<header id="header">
	<div class="container">
		<div class="header_logo"><a href="/"></a></div>
		<div class="header_setup">
			<a href="#" class="header_setup_btn">Установить</a>
			<a href="#" class="header_setup_google"></a>
			<a href="#" class="header_setup_apple"></a>
		</div>
	</div>
</header>
<div class="hsub_1">
	<div class="container">
		<div class="hsub_1_up" id="hsub_1_up">
			<img src="/images/hsub1_up_man.png" class="hsub_1_up_back_img"></img>
			<div class="hsub_1_up_m1">
				<div class="hsub_1_up_m_content">
					<div class="hsub_1_up_m_content_title">60 мин</div>
					<div class="hsub_1_up_m_content_text">Сэкономленного времени в день</div>
				</div>
			</div>
			<div class="hsub_1_up_m2">
				<div class="hsub_1_up_m_content">
					<div class="hsub_1_up_m_content_title">от 0,0₽</div>
					<div class="hsub_1_up_m_content_text">Платите комиссию только с прибыли</div>
				</div>
			</div>
			<div class="hsub_1_up_m3">
				<div class="hsub_1_up_m_content">
					<div class="hsub_1_up_m_content_title">51,9%</div>
					<div class="hsub_1_up_m_content_text">Средняя годовая доходность</div>
				</div>
			</div>
		</div>
		<div class="hsub_1_down" id="hsub_1_down">
			<div class="hsub_1_down_title">
				Инвестируйте легко<br>
				<span class="span_1">и получайте доход</span><br>
				+51,9%
				<span class="span_2"> годовых</span>
				<span class="span_3">*<span>Общий показатель по среднегодовой доходности стратегий</span></span>
			</div>
			<div class="hsub_1_down_text">Выбирайте стратегии успешных трейдеров и копируйте сделки в авторежиме. Зарабатывайте легко и с минимальными рисками через мобильное приложение Сopybro.</div>
			<div class="hsub_1_down_btns">
				<div class="hsub_1_down_btns_row_0">
					<a href="#" class="hsub_1_down_btns_google_0"></a>
					<a href="#" class="hsub_1_down_btns_apple_0"></a>
				</div>
				<div class="hsub_1_down_btns_row_1">
					<a href="#" class="header_setup_btn">Установить приложение</a>
				</div>
				<div class="hsub_1_down_btns_row_2">
					<a href="#" class="hsub_1_down_btns_google"></a>
					<a href="#" class="hsub_1_down_btns_apple"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hsub_2">
	<div class="container">
		<div class="hsub_2_up" id="hsub_2_up"></div>
		<div class="hsub_2_down" id="hsub_2_down">
			<div class="hsub_2_down_title">
				Автоследование: <span class="span_1">минимальные риски,</span> оптимальная доходность 
			</div>
			<div class="hsub_2_down_text">Мы собрали для вас лучшие торговые стратегии с подтвержденными данными по прошлым сделкам и их доходности. Трейдер ежедневно следит за динамикой рынка, совершая сделки и балансируя риски и доходность стратегии.</div>
		</div>
	</div>
</div>